################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xamarin-WiFiSnooper/v14
/packages
/Xamarin-WiFiSnooper/bin/Debug
/Xamarin-WiFiSnooper/obj/Debug
